.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  margin-top: 0px !important;
}

.home1 {
  display: contents;
  /* display: flex; */
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1500px; */
  margin-top: 0px !important;
}

.heading {
  /* display: flex; */
  /* display: inline !important; */
  font-weight: bold;
  text-align: center !important;
  align-items: center;
  margin: 0 auto;
  /* top: 20px; */
  margin-top: 20px !important;
  font-size: x-large;
  align-items: center;
  align-self: center;
  margin-bottom: 20px;
}

.home__image {
  /* width: 100%; */
  width: 1280px;
  z-index: -1;
  /* margin-bottom: -150px; */
  height: 640px;
  /* height: 100%; */
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}

.home__row {
  display: flex;
  /* display: contents; */
  /* flex-direction: column; */
  flex-direction: column;
  /* z-index: 1; */
  margin-top: 21px;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center; */
  /* align-content: center; */
  /* align-self: center; */
  /* width: 100%; */
  /* margin-right: 5px; */
  /* margin-left: 5px; */
}

@media screen and (max-width: 360) {
  .home__image {
    width: 360px;
    align-items: center;
    margin: 0 auto !important;
    height: auto;
  }
  .heading {
    display: flex;
    /* display: inline !important; */
    font-weight: bold;
    text-align: center !important;
    align-items: center;
    margin: 0 auto;
    /* top: 20px; */
    margin-top: 20px !important;
    font-size: medium;
    align-items: center;
    align-self: center;
  }
  .home__row {
    display: flex;
    /* display: contents; */
    /* flex-direction: column; */
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media screen and (max-width: 480) {
  .home__image {
    width: 480px;
    align-items: center;
    margin: 0 auto !important;
    height: auto;
  }
  .heading {
    display: flex;
    /* display: inline !important; */
    font-weight: bold;
    text-align: center !important;
    align-items: center;
    margin: 0 auto;
    /* top: 20px; */
    margin-top: 20px !important;
    font-size: medium;
    align-items: center;
    align-self: center;
  }
  .home__row {
    display: flex;
    /* display: contents; */
    /* flex-direction: column; */
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media screen and (max-width: 640) {
  .home__image {
    width: 640px;
    height: auto;
    align-items: center;
    margin: 0 auto !important;
  }
  .heading {
    display: flex;
    /* display: inline !important; */
    font-weight: bold;
    text-align: center !important;
    align-items: center;
    margin: 0 auto;
    /* top: 20px; */
    /* margin-top: 20px !important; */
    font-size: medium;
    align-items: center;
    align-self: center;
  }
  .home__row {
    display: flex;
    /* display: contents; */
    /* flex-direction: column; */
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 960) {
  .home__image {
    width: 960px;
    align-items: center;
    margin: 0 auto !important;
    height: auto;
  }
  .heading {
    display: flex;
    /* display: inline !important; */
    font-weight: bold;
    text-align: center !important;
    align-items: center;
    margin: 0 auto;
    /* top: 20px; */
    /* margin-top: 20px !important; */
    font-size: medium;
    align-items: center;
    align-self: center;
  }
  .home__row {
    display: flex;
    /* display: contents; */
    /* flex-direction: column; */
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

}
@media screen and (max-width: 1024) {
  .home__image {
    width: 1024px;
    height: auto;
    align-items: center;
    margin: 0 auto !important;
  }
  .heading {
    display: flex;
    /* display: inline !important; */
    font-weight: bold;
    text-align: center !important;
    align-items: center;
    margin: 0 auto;
    /* top: 20px; */
    /* margin-top: 20px !important; */
    font-size: medium;
    align-items: center;
    align-self: center;
  }
  .home__row {
    display: flex;
    /* display: contents; */
    /* flex-direction: column; */
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 1280) {
  .home__image {
    width: 1280px;
    align-items: center;
    margin: 0 auto !important;
    height: auto;
  }
  .heading {
    display: flex;
    /* display: inline !important; */
    font-weight: bold;
    text-align: center !important;
    align-items: center;
    margin: 0 auto;
    /* top: 20px; */
    /* margin-top: 20px !important; */
    font-size: medium;
    align-items: center;
    align-self: center;
  }
  .home__row {
    display: flex;
    /* display: contents; */
    /* flex-direction: column; */
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

/* @media (max-width: 480px) {
  .home__image {
    width: 480px;
  }
}
@media (max-width: 640px) {
  .home__image {
    width: fit-content;
  }
}
@media (max-width: 960px) {
  .home__image {
    width: fit-content;
  }
}
@media (max-width: 1280px) {
    .home__image {
      width: fit-content;
    }
  }
   */
